{% extends 'base.html' %}

{%block title%}
dashboard
{% endblock %}

{% block content %}
<h1>Estadisticas generales</h1>

<div class="job_card">
    <div class="job_details">
      <div class="img">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <div class="text">
        <h2>Numero de Alumnos registrados</h2>
        <span>80</span>
      </div>
    </div>
    <!--<div class="job_salary">
      <h4>$6.7 - $12.5k /yr</h4>
      <span>1 days ago</span>
    </div>-->
  </div>
  
  <div class="job_card">
    <div class="job_details">
      <div class="img">
        <i class="fa fa-address-card" aria-hidden="true"></i>
      </div>
      <div class="text">
        <h2>Numero de profesores registrados</h2>
        <span>70</span>
      </div>
    </div>
    <!--<div class="job_salary">
      <h4>$8.7 - $13.2k /yr</h4>
      <span>2 days ago</span>
    </div>-->
  </div>

  <div class="job_card">
    <div class="job_details">
      <div class="img">
        <i class="fa fa-sitemap" aria-hidden="true"></i>
      </div>
      <div class="text">
        <h2>Numero de secciones registradas</h2>
        <span>90</span>
      </div>
    </div>
    <!--<div class="job_salary">
      <h4>$11 - $18.5k /yr</h4>
      <span>2 days ago</span>
    </div>-->
  </div>

  <div class="job_card">
    <div class="job_details">
      <div class="img">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </div>
      <div class="text">
        <h2>Numero de materias registradas</h2>
        <span>180</span>
      </div>
    </div>
    <!--<div class="job_salary">
      <h4>$6 - $11.5k /yr</h4>
      <span>3 days ago</span>
    </div>-->
  </div>      
{% endblock %}
